.page-with-sidebar{ class: "#{page_sidebar_class} #{page_gutter_class}" }
  = render "layouts/broadcast"
  .expand-nav
    = link_to icon('bars'), '#', class: 'toggle-nav-collapse', title: "Open sidebar"
  .sidebar-wrapper.nicescroll{ class: nav_sidebar_class }
    .header-logo
      %a#logo
        = brand_header_logo
      = link_to root_path, class: 'gitlab-text-container-link', title: 'Dashboard', id: 'js-shortcuts-home' do
        .gitlab-text-container
          %h3 GitLab

    - primary_sidebar = current_user ? 'dashboard' : 'explore'

    - if defined?(sidebar) && sidebar && sidebar != primary_sidebar
      .complex-sidebar
        .nav-primary
          = render "layouts/nav/#{primary_sidebar}"
        .nav-secondary
          = render "layouts/nav/#{sidebar}"
    - else
      = render "layouts/nav/#{primary_sidebar}"

    .collapse-nav
      = link_to icon('angle-left'), '#', class: 'toggle-nav-collapse', title: "Hide sidebar"
    - if current_user
      = link_to current_user, class: 'sidebar-user', title: "Profile" do
        = image_tag avatar_icon(current_user, 60), alt: 'Profile', class: 'avatar avatar s36'
        .username
          = current_user.username
  .content-wrapper
    = render "layouts/flash"
    = yield :flash_message
    %div{ class: (container_class unless @no_container) }
      .content
        .clearfix
          = yield
